  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
  }
  
  .button {
    background: #428bca;
    padding: 1rem;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-backdrop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-dialog{
    min-height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 600px;
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation: fadeInDown 0.5s;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
  }

  @media (max-width: 632px){
    .modal-content{
      margin: 0 1rem;
    }
  }
  
  .close-modal {
    color: #000;
    float: right;
    font-size: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  @keyframes fadeInDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  